[submodule "lib/audiofile"]
	path = lib/audiofile
	url = git@github.com:adamstark/AudioFile.git
[submodule "lib/gtest"]
	path = lib/gtest
	url = git@github.com:google/googletest.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "lib/dj_fft"]
	path = lib/dj_fft
	url = git@github.com:jdupuy/dj_fft.git
